# Misc
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
.pub-cache/
.pub/
build/
**/build/
**/ios/Flutter/.last_build_id
**/doc/api/

# Android
android/.gradle
android/.idea
android/local.properties
android/app/debug
android/app/profile
android/app/release
*.jks

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets
ios/.generated
ios/.symlinks
ios/Pods
ios/Runner.xcworkspace

# macOS
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/ephemeral/
macos/.symlinks
macos/Pods
macos/Runner.xcworkspace

# Linux
linux/flutter/ephemeral/
linux/CMakeFiles/
linux/cmake-build-debug/

# Windows
windows/flutter/ephemeral/
windows/CMakeFiles/
windows/cmake-build-debug/

# Web
web/wasm/

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Others
*.lock
*.bak
*.tmp

# Hive, test projects
test_hive_project/

# Coverage
coverage/
